# Flutter & Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
# build_runner 产物
**/*.g.dart
**/*.freezed.dart
**/*.gr.dart
**/*.config.dart
# IDE
.idea/
.vscode/
# Melos cache
.melos_tool/
